[submodule "themes/hugo-material-docs"]
	path = themes/hugo-material-docs
	url = https://github.com/LiaungYip/hugo-material-docs.git
[submodule "themes/plain-docs"]
	path = themes/plain-docs
	url = https://github.com/LiaungYip/plain-docs.git
